*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    width:80%;
    margin:20px auto;
    background-color: #f0ecec;
    color:#333;
}

.form{
    display:flex;
    flex-direction: column;
    margin:20px auto 60px;
    width:50vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 244, 247);
    height:40vh;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.8);
     
}
 .form input,
 .form textarea,
 .form button{
    padding:15px;
    width:70%;
    margin:10px;
    font-size:20px;
    
 }
 .title{
    font-size:22px;
    font-weight: 700;
    margin:50px 0 10px 0;
 }
 .link{
    text-decoration: none;
 }
 .comments{
    margin:40px 0 20px 40px;
 }
 .form-comments{
    display:flex;
    flex-direction: column;
    background-color: rgb(249, 249, 252);
    width:60%;
    height:30vh;
    align-items: center;
    justify-content: center;
    margin:30px 0 30px 0;
    border-radius:10px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.6);
 }
 .form-comments input,
 .form-comments textarea,
 .form-comments button{
    padding:15px;
    margin:10px;
    width:70%;

 }

 .back-link{

    text-decoration: none;
    font-size:20px;
    color:blue;
 }

 nav{
   background-color: rgb(30, 30, 83);
   color:#fff;
   padding:20px;
   font-size:24px;
 }

 footer{
   background-color: rgb(30, 30, 83);
   color:#fff;
   padding:50px;
   margin:100px 0 60px 0;
   text-align: center;
 }
 .PageNotFound{
   text-align: center;
   margin:60px 0 200px 0;
 }